html {
    width: 100%;
    height: 250%;
    background-image: url('../images/logo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    
}

#title {
    font-size: 50px;
    margin-bottom: 15px;
    color: white;
}

h1,
h2 {
    font-family: 'Alfa Slab One', cursive;
    color: white;
    text-align: center;
    padding-bottom: 10px;
}

body {
    opacity: 0.4;
    background-color: black;
    position: absolute;
    text-align: center;
    align-content: center;
    width: 100%;
    height: 100%;

}

.panel {
    /*width: 22%;*/
    display: inline-block;
    text-align: center;
}

.panel img {
    max-height: 100%;
    height: 140px;
    width: auto;

}

.listGroup {
    font-family: 'Amatic SC', cursive;
}

/* .attack {
    align-content: center;
    margin-bottom: 25px;
   
} */

.character {
    padding: 10px;
}

#restart {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
}

.fightSection {
    background: none;
    align-content: center;
}

.status {
    color: white;
    font-size: 16px;
}
